.login-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  color: green;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.text-danger {
  color: red;
  font-size: 12px;
}

.login-button {
  width: 100%;
  margin-bottom: 15px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #ff4081;
  font-size: 14px;
}

.login-options {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}a{
   text-decoration: unset;
   color: #000;
 }
