<form class="login-container mx-auto mt-12 max-w-lg p-10 bg-white rounded-3xl shadow-xl">
  <h1 class="text-4xl font-bold text-center text-blue-600 mb-8">Register</h1>

  <div class="flex justify-around mb-6 text-blue-600 font-medium text-lg">
    <a routerLink="/login" class="hover:underline hover:text-blue-700">Log in</a>
    <b><a routerLink="/register" class="underline text-blue-700">Register</a></b>
  </div>

  <div class="border-t border-gray-300 my-6"></div>

  <div class="space-y-6">
    <mat-form-field class="w-full">
      <mat-label class="text-blue-600">Name</mat-label>
      <input type="text" matInput placeholder="Juana Maria Sanchez Carrión" [(ngModel)]="name" name="name"
             class="w-full px-4 py-3 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label class="text-blue-600">Specialization</mat-label>
      <input type="text" matInput placeholder="Medicina" [(ngModel)]="specialization" name="specialization"
             class="w-full px-4 py-3 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label class="text-blue-600">Email</mat-label>
      <input type="email" matInput placeholder="example@mail.com" [(ngModel)]="email" name="email" class=" w-full px-4 py-3 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none
        focus:ring-2 focus:ring-blue-500 transition duration-300" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label class="text-blue-600">Password</mat-label>
      <input type="password" matInput placeholder="*****" [(ngModel)]="password" name="password"
             class="w-full px-4 py-3 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300" />
    </mat-form-field>
  </div>

  <div class="mt-6 mb-8 flex space-x-4">
    <mat-radio-group formControlName="selectedRole" aria-label="Select an option" class="flex space-x-4">
      <mat-radio-button name="role" value="abogado" class="text-blue-600">
        <span class="text-gray-700">Abogado</span>
      </mat-radio-button>
      <mat-radio-button name="role" value="doctor" class="text-blue-600">
        <span class="text-gray-700">Doctor</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <button mat-flat-button color="primary" (click)="onSubmit()"
          class="w-full py-3 mt-4 text-lg font-bold text-white bg-blue-600 rounded-full hover:bg-blue-700 transition duration-300 shadow-md">
    Create
  </button>
</form>
