<app-toolbar-content></app-toolbar-content>
<div class="request-history-container max-w-4xl mx-auto p-8 bg-gradient-to-r from-blue-50 to-blue-100 rounded-lg shadow-lg border border-blue-300">
  <div class="text-center mb-6">
    <h1 class="text-4xl font-bold text-blue-700">Historial de Solicitudes</h1>
  </div>

  <div class="overflow-x-auto rounded-lg shadow-md">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-full bg-white">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">ID</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.id }} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Tipo</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.type }} </td>
      </ng-container>

      <ng-container matColumnDef="inquiry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Consulta</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.inquiry }} </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Asunto</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.subject }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Descripción</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.description }} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Creación</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.creationDate | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-blue-100 text-blue-800 font-semibold py-3">Estado</th>
        <td mat-cell *matCellDef="let request" class="py-2 px-4"> {{ request?.status?.name }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-blue-50"></tr>
    </table>
  </div>
</div>
